@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
:root {
  --primary-color: #003366;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9345f;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/*navbar styling */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar ul li:hover {
  background-color: var(--secondary-color);
}

.navbar .flex {
  justify-content: space-between;
}

.navbar .logo {
  display: flex;
}

.navbar .logo h2 {
  margin: 0;
  margin-top: 5px;
}

.navbar .container {
  margin: 0;
  max-width: none;
}

/*navbar styling test*/
.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  float: right;
  display: none;
}
#check {
  display: none;
}
/*navbar styling test*/

/* Scroll up button style*/
#btnScrollToTop {
  position: fixed;
  right: 50px;
  bottom: 175px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--secondary-color);
  color: #ffffff;
  cursor: pointer;
  z-index: 100;
}
#btnScrollToTop:hover {
  background: #778899;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
}
/* Scroll up button style*/

/*Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  background-image: url("TEST1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: none;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

/* Stats*/
.stats {
  padding-top: 50px;
}

.stats-heading {
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* Cli */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* Languages */
.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages .flex {
  flex-wrap: wrap;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.languages .card:hover {
  transform: translateY(-15px);
}

/* Features page */
.features-head img,
.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.features-sub-head img {
  width: 300px;
  justify-self: flex-end;
}

.features-main .card i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
}
.features-main .container > *:first-child {
  grid-column: 1/3 span;
}

.features-main .container > *:nth-child(2) {
  grid-column: 1/2 span;
}

/* Docs pages*/
.docs-main h3 {
  margin: 20px 0;
}

.docs-main .card pre {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.docs-main a:hover {
  font-weight: bold;
}

/* Footer */
.footer a {
  color: #fff;
}
.social a {
  margin: 10px;
}

/* tablets an under*/
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-head .grid,
  .features-sub-head .grid,
  .features-main .grid,
  .docs-head .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }
}

/* mobile */
@media (max-width: 500px) {
  .navbar .logo {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .checkbtn {
    display: block;
  }
  .navbar {
    height: 100%;
  }
  .navbar .flex {
    flex-direction: column;
    overflow: hidden;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .navbar ul li {
    text-align: center;
    width: 100vw;
    font-size: 20px;
    padding: 10px 0;
  }
  .navbar nav {
    display: none;
  }
  #check:checked ~ nav {
    display: flex;
  }
}
